<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add a new country page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

	<h2>Adding a new country</h2>
	
       <div class="col-sm-4">		

		<form action ="#" th:action="@{/add}" th:object="${countryDetailsForm}" method="post">

			<div class="form-group">
				<label for="name">Country name: </label> 
				<input type="text" class="form-control" id="name" th:field="*{name}">
				<p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">				
			</div>
			
			<div class="form-group">
				<label for="capital">Capital : </label> 
				<input type="text" class="form-control" id="capital" th:field="*{capital}">
				<p class="alert alert-danger" th:if="${#fields.hasErrors('capital')}" th:errors="*{capital}">				
			</div>				
							
			<div class="form-group">
				<label for="region">Region : </label> 
				<input type="text" class="form-control" id="region" th:field="*{region}">
				<p class="alert alert-danger" th:if="${#fields.hasErrors('region')}" th:errors="*{region}">							
			</div>

			<div class="form-group">
				<label for="subregion">Subregion : </label> 
				<input type="text" class="form-control" id="subregion" th:field="*{subregion}">
				<p class="alert alert-danger" th:if="${#fields.hasErrors('subregion')}" th:errors="*{subregion}">							
			</div>

			<div class="form-group">
				<label for="population">Population : </label> 
				<input type="text" class="form-control" id="population" th:field="*{population}">
				<p class="alert alert-danger" th:if="${#fields.hasErrors('population')}" th:errors="*{population}">					
			</div>

			<div class="form-group">
				<label for="currencies">Currencies : </label> 
				<input type="text" class="form-control" id="currencies" th:field="*{currencies}" placeholder="If more than one value, separate with commas">
				<p class="alert alert-danger" th:if="${#fields.hasErrors('currencies')}" th:errors="*{currencies}">									
			</div>


			<div class="form-group">
				<label for="languages">Languages : </label> 
				<input type="text" class="form-control" id="currencies" th:field="*{languages}" placeholder="If more than one value, separate with commas">
				<p class="alert alert-danger" th:if="${#fields.hasErrors('languages')}" th:errors="*{languages}">							
			</div>

               <div class="form-group">
                   <button type="submit" class="btn btn-primary">Submit</button>
               </div>
		
		</form>
	</div>
		
</body>
</html>